.intro{
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    max-width: 984px;
    height: 482px;
    margin: 0 auto;
    padding: 92px 302px 132px 148px; 
    
}
.intro__title{
    padding-bottom: 40px;
    font-family: "Inter";
    font-size: 54px;
    max-width: 830px;
    height: 116px; 
}

.intro__subtitle {
    font-family: "Inter";
    font-size: 24px;
    max-width: 732px;
    height: 34px;
}
.intro__author{
    text-align: right;
    font-family: "Inter";
    font-size: 24px;
    max-width: 738px;
    height: 68px;
}
.intro__text{
    font-family: "Inter";
    font-size: 16px;
    max-width: 722px;
    height: 182px;
}